.sale-list{
    height: 74%;
    border: 2px solid #d9d9d9;
    padding: 20px;
    overflow-y: auto;
}
.sale-total{
    height: 30px;
    margin: 10px 0px;
    background: #e2e2e2;
    display: flex;
    align-items: center;
    padding: 20px;
    font-weight: bold;
    font-size: 1.1em;
    justify-content: space-between;
}
.sale-calculate{
    border: 1px solid;
    height: 15.7%;
    margin-top: 10px;
    border: 1px solid #d9d9d9
}
.sale-header{
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    align-items: center
}
.sale-products{
    padding: 10px;
    margin: 10px;
    padding: 15px;
    position: relative;
    margin: 15px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.4);
}
.sale-products >div> .txt{
    text-align: center;
    font-size: 1.2em;
    position: absolute;
    top: 7px;
    flex-wrap: wrap;
    display: flex;
    width: 60px;
    left: 7px;
    font-weight: bold;
}
.sale-products >div> .filter{
    position: absolute;
}
.sale-products:hover >div> .filter{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0,0,0,0.6);
    cursor: pointer;
}
.sale-products:hover >div> .filter> div> .icon{
    background: white;
    width: 25px!important;
    height: 25px!important
    
}
